html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family:  Open sans, Arial, sans-serif;
    font-size: $m-size;
    height: 100%;
}

body {
    background: #367cd6;
    background: -moz-linear-gradient(top, $light-blue 0%, $dark-blue 100%); 
    background: -webkit-linear-gradient(top, $light-blue 0%, $dark-blue 100%); 
    background: linear-gradient(to bottom, light-blue 0%,$dark-blue 100%);
}

.float-right { float: right; }

.float-left { float: left; }

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.nowrap-white-space {
    white-space: nowrap;
}

.small-font-size {
    font-size: $s-size;
}

.arrange-vertically > * {
    display: block;
    border: 1px solid blue;
}

.arrange-horizontally > * {
    display: inline-block;
    text-align: center;
    border: 1px solid green;
}

.center-horizontally-parent {
    text-align: center;
}

.center-horizontally-child {
    display: inline-block;
}