# Compiled source 
#
###################

*.com

*.class

*.dll

*.exe

*.o

*.so


# Packages 
#
############
# 
*.7z

*.dmg

*.gz

*.iso

*.jar

*.rar

*.tar

*.zip


# Logs and databases #
######################

*.log

*.sqlite


#
######################

#Folders
bin/
**/bin/
obj/
**/obj/
/indecision-app/node_modules
/indecision-app/public/scripts