.box {
  background-image: linear-gradient(45deg, var(--mediumLight), var(--medium));
  border: 2px solid var(--mediumDark);
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition: box-shadow 0.18s cubic-bezier(0.33, 1, 0.68, 1), transform 0.18s;
  transform: scale(1);
  transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}

.box:hover {
  box-shadow: rgba(27, 19, 19, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: box-shadow 0.2s cubic-bezier(0.61, 1, 0.88, 1), transform 0.2s;
  transform: scale(1.06);
}

/* .box:active {
  box-shadow: rgba(50, 50, 93, 0.25) -4px 6px 6px -4px inset, rgba(143, 136, 136) 0px 6px 4px -4px inset;
  transition: box-shadow 0.5s ease-out;
  transform: scale(0.95)
} */