.search-bar-container { padding: 15px 20px; }
.search-box { border: none; background: none; }
.search-icon { width: 10%; cursor: pointer }
.search-input-container { width: 80%; }
.search-box { width: 100%; text-align: center; color: white; }
.search-input-container, .search-icon { display: inline-block; }