html {
    font-size: 62.5%;
}

body {
    font-family:  Helvetica, Arial, sans-serif;
    font-size: $m-size;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.nowrap-white-space {
    white-space: nowrap;
}

.small-font-size {
    font-size: $s-size;
}

.is-active {
    font-weight: bold;
}