.header-container {
    background: $dark-green;
    text-align: center;
    padding: 20px 0 20px 0;
}

.avatar {
    min-width: 240px;
    max-width: 15%;
    border-radius: 50%;
}

.header-info-container {
    display:inline-block;
    margin-left: 20px;
    vertical-align: top;
    text-align: left;
    color: white;
}

.link-on-header, a.link-on-header {
    color: $light-green;
}