.nav-bar__container {
 position: absolute;
 right: 5%;
 top: 0;
 background: $redish;
 padding: 10px 20px 10px 20px;
}

.nav-bar__list {
 list-style-type: none;
 margin: 0;
 padding: 0;
}

.nav-bar__list li {
 display: inline-block;
 margin-right: 30px;
 cursor: pointer;
}

.nav-bar__list li:last-child {
 margin-right: 10px;
}

.nav-bar__list li a {
 color: white;
 font-size: $s-size;
}