.nav-bar__container {
 position: absolute;
 right: 5%;
 top: 0;
 background: $redish;
 padding: 10px 20px 10px 20px;
}

.nav-bar__list {
 list-style-type: none;
 margin: 0;
 padding: 0;
}

.nav-bar__list li {
 display: inline-block;
 margin-right: 30px;
 cursor: pointer;
}

.nav-bar__list li:last-child {
 margin-right: 0px;
}

.nav-bar__list li a {
  color: white;
  font-weight: 400;
  font-size: $s-size;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 5px 20px 5px 20px;
  position: relative;
}

.nav-bar__list li a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.4s ease 0s, left 0.4s ease 0s;
  width: 0;
}

.nav-bar__list li a:hover:after {
  width: 100%;
  left: 0;
}

.nav-bar__list li a:hover {
  transition: color 0.3s ease-out;
  font-weight: 600;
  color: black;
}