.widget {
    background: $light-blue;
    margin-bottom: $xl-size;
}

.widget-header {
    background: lighten($dark-blue, 10%);
    color: $off-white;
    padding: $m-size;
    display: flex;
    justify-content: space-between;
}

.widget-header__title {
    margin: 0;
}

.widget__add-option-message {
    margin: 0;
    padding: $l-size;
    text-align: center;
    color: $off-white;
    font-weight: 650;
    border-bottom: 1px solid lighten($light-blue, 10%);
}
