.features-section-row {
    padding: 0 5rem;
}

.features-section-header-row {
    text-align: centerl;
    padding: $margin * 2 10rem 0 10rem;
    margin-bottom: $margin;
}

.feature-section-item {
    margin-bottom: $margin * 1.5;
}