.nav-bar {
    list-style: none;
    float: right;
    margin: $margin * 2;
    text-decoration: none;
}

.nav-bar a:link,
.nav-bar a:visited {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: $m-size;
    border-bottom: 2px solid transparent;
    padding: $s-size * .3 0;
    margin-left: $m-size * 1.5;
    word-spacing: 4px;
}

.nav-bar a:hover,
.nav-bar a:active {
    border-bottom: 2px solid $orange;
    transition: border-bottom .2s;
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
    .device-size {
        color: greenyellow;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
    .device-size {
        color: red;
    }

    .nav-bar a:link,
    .nav-bar a:visited {
        display: block;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 762px) {
    .device-size {
        color: yellow;
    }

    .nav-bar a:link,
    .nav-bar a:visited {
        display: inline-block;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
