* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
    color: #555;
    font-family: $font-families;
    font-size: 62.5%;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

body {
    font-size: $m-size;
}

h1, h2, h3 {
    font-weight: 400;
    text-transform: uppercase;
}

h1 {
    margin: 0;
    margin-bottom: $margin;
    color: white;
    font-size: $xl-size * .8;
    letter-spacing: 1px;
    word-spacing: 4px;
}

h2 {
    font-size: $xl-size * .6;
    word-spacing: 2px;
    margin-bottom: $margin;
    letter-spacing: 1px;
}

h2::after {
    display: block;
    height: 2px;
    background-color: $orange;
    content: "";
    width:15rem;
    margin-top: $l-size;
}

.long-copy {
    line-height: 145%;
    text-align: left;
    font-size: $m-size * 1.2;
    width: 80%;
    margin: 0 auto;
}

.margin-top {
    margin-top: $margin;
}

.section-gap {
    margin-top: $margin-section;
}

.icon-big {
    font-size: 400%;
    display: block;
    color: $orange;
    margin-bottom: $margin;
}

.nowrap-white-space {
    white-space: nowrap;
}

.flex-grid {
    display: flex;
}

.col {
    flex: 1;
}