html {
    //font-size: 62.5%;
}

body {
    font-family: 'Inconsolata', monospace;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.nowrap-white-space {
    white-space: nowrap;
}

.small-font-size {
    font-size: $s-size;
}

.medium-font-size {
    font-size: $m-size;
}

.large-font-size {
    font-size: $l-size;
}

.padding-top-small {
    padding-top: 10px;
}

.link-on-header, a.link-on-header {
    color: $light-green;
}

.padding-top-normal {
    padding-top: 20px;
}

.inline-block {
    display: inline-block;
}

a {
    text-decoration: none;
    background-color: transparent;
}