html {
    font-size: 62.5%;
}

body {
    font-family: 'Inconsolata', monospace;
    font-size: $m-size;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0 !important;
    margin-top: 0 !important;
    line-height: 1.6;
}

.nowrap-white-space {
    white-space: nowrap;
}

.small-font-size {
    font-size: $s-size;
}

.inline-block {
    display: inline-block;
}

a {
    text-decoration: none;
    background-color: transparent;
}