$light-green: #51958E;
$light-blue:#a2d8fd;
$green: #1F5762;
$dark-green: #19464E;
$redish: #9f4432;
$s-size: 1.1rem;
$m-size: 1.6rem;
$l-size: 2.4rem;
$xl-size: 4rem;
$line-height: 1.8rem;
$desktop-breakpoint: 45rem;
$margin-normal: 20px;